<div class="row">
  <div class="col-12">
    <form action="">
      <div class="row mb-2">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            id="name"
            name="name"
            type="text"
            #nameInput
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            id="amount"
            name="amount"
            type="number"
            #amountInput
          >
        </div>
      </div>
      <div class="d-flex gap-2">
        <button (click)="onItemAdd()" class="btn btn-success">Add</button>
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-primary">Clear</button>
      </div>
    </form>
  </div>
</div>
