<ng-container *ngIf="recipe">
  <div class="row">
    <div class="col-12">
      <img [src]="recipe.imagePath" alt="{{ recipe.imageAlt }}" class="img-fluid" width="50">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>
        {{ recipe.name }}
      </h2>
      <p> {{ recipe.description }} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
    </div>
    <ul class="dropdown-menu">
      <li>
        <a href="#">To Shopping List</a>
        <a href="#">Edit Recipe</a>
        <a href="#">Delete Recipe</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12">
      Ingredients
    </div>
  </div>
</ng-container>

