<div class="row">
  <div class="col-12">
    <img src="https://www.giallozafferano.com/images/228-22832/spaghetti-with-tomato-sauce_1200x800.jpg" class="img-fluid" width="50">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>
      Recipe Name
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary dropdown-toggle">
      Manage Recipe <span class="caret"></span>
    </button>
  </div>
  <ul class="dropdown-menu">
    <li>
      <a href="#">To Shopping List</a>
      <a href="#">Edit Recipe</a>
      <a href="#">Delete Recipe</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
